.table {
  color: #ddd;
}

.modal-content,
.card-container {
  background-color: #282c34;
}

.modal-content span {
  color: #ddd;
}

.vote-option {
}

.vote-option > img {
  width: 50%;
  height: 70%;
  transition: width 0.2s, height 0.2s, boxshadow 0.1s;
}

.vote-option:hover > img{
  width: 55%;
  height: 75%;
  box-shadow: 0 3px 30px #dddddd4d;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}
