.table {
  color: #ddd;
}

.modal-content,
.card-container {
  background-color: #282c34;
}

.modal-content span {
  color: #ddd;
}

.vote-option > img {
  width: 55%;
  height: 85%;
  transition: width 0.2s ease, height 0.2s ease, boxshadow 0.1s ease-in;
  margin: 2rem 0;
}

.vote-option > img:hover {
  width: 58.234%;
  height: 90%;
  box-shadow: 0 3px 30px #dddddd4d;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.unstyled-link {
  color: #ddd;
  text-decoration: none;
}

.unstyled-link:hover,
.unstyled-link:focus {
  color: #007bff;
  text-decoration: none;
}

.form-control:disabled {
  background-color: #dddddd4d;
  border-color: #dddddd4d;
}

.disabled-label {
  color: #dddddd4d;
}

.w-30 {
  width: 30%;
}

.w-10 {
  width: 10%;
}

td {
  cursor: pointer;
}

caption {
  caption-side: top;
  color: #ddd;
  font-weight: bolder;
  font-size: 1.2em;
}